.switcher_block {
    width: 100%;
    padding: 38px 76px 0 76px;
    display: flex;
    justify-content: flex-end;
}
.switcher_wrapper {
    padding: 1px;
    background: #F3F4F6;
    border-radius: 6px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.switcher_active {
    background: #FFFFFF;
    border: 1px solid #E2E3E5;
    border-radius: 5px;
    cursor: default;
    padding: 9px 13px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
.switcher_active span {
    font-family: 'Inter', serif;
}

.switcher_passive {
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    padding: 9px 13px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.switcher_passive span {
    font-family: 'Inter', serif;
}

.switcher_tab_icon_active {
    filter: brightness(0) saturate(100%) invert(50%) sepia(51%) saturate(7394%) hue-rotate(227deg) brightness(95%) contrast(96%);
}